
.icon-doc-text:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */